h1 {
  font-family: sans-serif;
  color: #ccc;
}

button {
  box-sizing: border-box;
  min-width: 40px;
  border-radius: 20px;
  height: 40px;
  font-size: 20px;
  margin: 10px 10px;
  padding: 5px 12px 7px 12px;
  color: #ccc;
  background-color: rgb(7, 7, 7);
}

button:hover {
  background-color: rgb(50, 50, 50);
  cursor: pointer;
}

button:focus {
  outline: 0;
}

body {
  background-color: rgb(7, 7, 7);
}

.Buttons {
  display: flex;
  justify-content: center;
}

#fire-decrease,
#fire-increase {
  position: relative;
}

#fire-increase::before,
#fire-increase::after,
#fire-decrease::before {
  content: "";
  width: 15px;
  height: 3px;
  background-color: #ccc;
  display: block;
  position: absolute;
}

#fire-increase::after {
  transform: rotate(90deg);
}

#fire-slider {
  width: 280px;
  margin: 15px 0;
}
